body {
    background-color: skyblue;
}

.star-container {
    font-size: 2rem;
    color: gold;
    cursor: pointer;
    user-select: none;
  }
  .star {
    padding: 0 0.2rem;
    transition: color 0.2s ease;
  }
