:root {
    --primary-btn-color: #0B1141;
}


.content-container {
        margin: 0 12px;
}

.tri {
    padding: 16px;
    display: flex;
    justify-content: flex-end;
}

.formations li {
    font-weight: 700;
}

.formations {
    display: flex;
    flex-direction: row;
}



select {
    appearance: none;
    background-color: var(--primary-btn-color);
    color:white;
}

.container-date-supprimer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-bouton-supprimer-alerte {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #712F6F;
    width: 28px;
    height: 28px;
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 300ms ease-in, transform 0.3s ease-in;
}

.container-bouton-supprimer-alerte:hover {
    background-color: #441d42;
    transform: scale(1.2);
}

.bouton-supprimer-alerte {
    display: flex;
    content: " ";
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 50%;
    border: none;
    position: relative;
}

.padding-8 {
    padding: 8px;
}

.d-flex-jst-center {
    display: flex;
    justify-content: center;
    gap: 20px;
}


.bouton-supprimer-alerte .ligne {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: rotate(-45deg);
}

.bouton-supprimer-alerte .ligne.a-gauche {
    transform: rotate(45deg);
}

.alertes {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: stretch;
    justify-content: flex-start;
    gap: 12px;
    padding: 1rem;
}


.alerte p span {
    font-weight: 600;
}
.alertes .alerte {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 20px;
    width: 32%;
    padding: 10px;
    background-color: #EEEEEE;
    border-radius: 16px;
    border: 2px solid #000000;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    min-height: max-content;
}


.titre-alerte {
    font-weight: 700;

}

.btn-marquer-alerte {
    padding: 5px 10px;
    font-size: 16px;
    width: 100%;
    color: white;
    border-radius: 100px;
    background-color: var(--primary-btn-color);
    cursor: pointer;
}

.boutons-categorie {
    display: flex;
    justify-content: center
}

.bouton-categorie {
    padding: 8px 20px;
    font-weight: 700;
    font-size: 24px;
    border-bottom: 3px solid #0B1141;
    box-sizing: border-box;
}

.bouton-categorie.active {
    color: white;
    background-color: #0B1141;
}

.bgr {
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    transition: opacity 1s ease;
}

.description-alerte {
    margin-bottom: 40px;
}

.marque-lu {
    padding: 7px;
    background-color: #bdbdbd;
    display: flex;
    justify-content: center;
    border-radius: 100px;
}

.marque-lu img {
    width: 20px;
    height: 20px;
    fill: var(--primary-btn-color);
}

.opacity-0 {
    opacity: 0;
    z-index: -1;
}
.hidden {
    display: none;
}

.fenetre-demande-de-supprimer {
    position: absolute;
    z-index: 2;
    background-color: white;
    top: 50%;
    left: 40%;
    font-size: 24px;
    padding: 40px;
}

.texte-confirmation {
    margin-bottom: 20px;
}

.bouton-acceptation-de-suppression {
    border-radius: 100px;
    background-color: var(--primary-btn-color);
    padding: 20px 60px;
    color: white;
}

.bouton-refuse-de-suppression {
    border-radius: 100px;
    padding: 20px 60px;
    border: 3px solid var(--primary-btn-color);
    box-sizing: border-box;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 40px;
}

.pagination span a {
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
    border: 3px solid var(--primary-btn-color);
    box-sizing: border-box;
}

.pagination .current {
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
    color: white;
    background-color: var(--primary-btn-color);
    border: 3px solid var(--primary-btn-color);
}

.pagination .previous a, .pagination .next a, .pagination .last a , .pagination .first a {
    color: white;
    background-color: var(--primary-btn-color);
}